<div class="container">
    <div class="jumbotron">
    <h1>Friendsgiving</h1>
    <p class="lead">Whatcha bringin?</p>
    </div>
</div>

<div class="container">
    <%= render 'form', attendee: @attendee %>
    <%= link_to 'Back', attendees_path %>
</div>

